
@font-face {
    font-family: 'RussoOne';
    src: url('../fonts/russo-one.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?norans');
  src:  url('../fonts/icomoon.eot?norans#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?norans') format('truetype'),
    url('../fonts/icomoon.woff?norans') format('woff'),
    url('../fonts/icomoon.svg?norans#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-button:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-info:before {
  content: "\e903";
}
.icon-information:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}

/* Основные цвета, ширина сетки, размеры */

:root {
	--text: #828284;
	--mainbg: #F5F5F5;
	--orange: #F26522;
	--orange2: #FFAA00;
	--orange-gradient: linear-gradient(to right, var(--orange) 0%,var(--orange2) 100%);
	--darkbg: #3C3C3D;
	--light-grey: #D5D5D5;
	--dark-grey: #58595B;
	--black: #3C3C3D;

	--column: 82px;
	--gutter: 16px;

	--fontsize: 17px;
	--line-height: 28px;
	--h3: 22px;
}

body {
	background-color: var(--mainbg);
	font-size: var(--fontsize);
	font-family: 'Open Sans',sans-serif;
	line-height: var(--line-height);
	color: var(--text);
	max-width: 100vw;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
body > header {
	flex: 0 0 auto;
}
body > main {
	flex: 1 1 auto;
}
body > footer {
	flex: 0 0 auto;
}

a:hover, a:focus {
	text-decoration: none;
}

h1, h2, h3, h4,
.uk-h1, .uk-h2, .uk-h3, .uk-h4 {
	font-family: 'RussoOne', sans-serif;
}
.uk-container {
	margin-left: auto;
	margin-right: auto;
}

/* КОНТЕЙНЕРЫ */

.container-1304 {
	max-width: 1304px;
	padding: 0;
}
.container-1160 {
	max-width: 1160px;
	box-sizing: content-box;
}
.container-965 {
	max-width: 965px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
}
.container-780 {
	max-width: 850px;

	margin: 0 auto;
}




.uk-container-expand {
	max-width: none;
}
.uk-text-small {
	font-size: 18px;
	line-height: 20px;
}
h2, .uk-h2 {
	font-size: 38px;
	line-height: 40px;
	font-weight: 800;
	color: var(--color);
}

h1, .uk-h1 {
	font-size: 70px;
	line-height: 70px;
	font-weight: 700;
	
}
h3, .uk-h3 {
	font-size: 22px;
	line-height: 25px;
	color: rgba(0,0,0,0.8);
	font-weight: 400;

}
h4, .uk-h4 {
	font-size: 22px;
	line-height: 26px;
	/*color: rgba(0,0,0,0.8);*/
	font-weight: 700;

}

.text-white {
	color: #fff;
}
.text-default {
	color: var(--text);
}

/*grid*/
@media (min-width: 1220px) {
	.uk-grid {
		margin-left: calc(var(--gutter) * (-1));
	}
	.uk-grid > * {
		padding-left: var(--gutter);
	}
	.uk-grid-collapse {
		margin-left: 0;
	}
}
.uk-grid {
	margin-left: calc(var(--gutter) * (-1));
}
.uk-grid > * {
	padding-left: var(--gutter);
}
.uk-grid-collapse {
	margin-left: 0;
}
.uk-grid-collapse > * {
	padding-left: 0;
}

.block-fullwidth {
	position: relative;
	overflow: hidden;
}
.block-fullwidth-bg {
	position: absolute;
	left:0;top:0;right:0;bottom:0;
}
.block-fullwidth-bg img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.block-fullwidth-content {
	position: relative;
	z-index:2;
}

.block_title {
	height: 440px;
	display: flex;
	align-items: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.block_title-padding {
	padding-bottom: 140px;
}
.block-fullwidth-heading {
	color: var(--orange);
}


.panel {

}
.panel_white {
	background: #fff;
	box-shadow: 0 10px 16px rgba(0,0,0,0.03);
}

.panel_orange {
	background: rgb(242,101,34);
	background: -moz-linear-gradient(left, var(--orange) 0%, var(--orange2) 100%);
	background: -webkit-linear-gradient(left, var(--orange) 0%,var(--orange2) 100%);
	background: linear-gradient(to right, var(--orange) 0%,var(--orange2) 100%);
	color: #fff;
}

.header-top {
	background: var(--darkbg);
	min-height: 88px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 0 32px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header-top-logo {
	flex:0 0 auto;
	margin-right: 30px;
}
.header-top-logo-sign {
	width: 143px;
}
.header-top-nav {
	flex: 1 0 auto;
}

.header-top.uk-active {
	z-index: 10;
	box-shadow: 0 10px 16px rgba(0,0,0,0.03);

}


.uk-navbar-nav li {
	/*margin-right: 20px;*/
}
.uk-navbar-nav li a {
	color: #fff;
	font-family: "Proxima Nova";
	font-size: 11px;
	line-height: 15px;
	font-weight: 700;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	height: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
.uk-navbar-nav > li.uk-active > a,
.uk-navbar-nav > li:hover > a {
	 background-color: transparent; 
	color: var(--orange);
}
.uk-navbar-nav > li.uk-open > a, .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus {
	 background-color: transparent; 
	color: var(--orange);
}
.uk-navbar-nav li.uk-parent > a {
	/*padding-right: 20px;*/
}
.uk-navbar-nav li.uk-parent > a:after {
	content:"\e900";
	font-family: icomoon;
	color: var(--orange);
	display: inline-block;
	transform: rotate(90deg);
	margin-left: 15px;
	font-size: 8px;
	font-weight: 400;
}
.uk-dropdown {
	/*padding-top: 0px;*/
	/*padding-bottom: 0px;*/
}
.uk-dropdown .uk-nav li a {
	color: var(--black);
	padding-top: 10px;
	padding-bottom: 10px;
}
.uk-dropdown .uk-nav li a:hover, .uk-dropdown .uk-nav li a:focus {
	background: var(--orange2);
	opacity: 0.7;
}
.uk-dropdown-navbar {
	margin-top: 21px;
	background: var(--orange2);
	color: var(--black);
}
.uk-dropdown::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	top: -5px;
	position: absolute;
	background: var(--orange2);
	left: 44px;
}

/* BUTTONS */
.uk-button {
	background: transparent;
	border:1px solid rgba(88,89,91,0.4);
	/*height: 56px;*/
	min-height: 38px;
	line-height: 38px;
	padding-left: 28px;
	padding-right: 28px;
	font-size: 12px;
	font-weight: bold;
	font-family: "Proxima Nova";
	text-transform: uppercase;
	transition: all 0.2s ease;
}
.uk-button:hover, .uk-button:focus {
	border-color: var(--text);
	background-color: transparent;
}

.button_large {
	min-height: 56px;
	line-height: 56px;
}
.button_white {
	border-color: rgba(255,255,255,0.4);
	color: #fff;
}
.button_white:hover, .button_white:focus {
	border-color: #fff;
	background-color: #fff;
	color: var(--text);
}
.button_slideshow {
	border-color: #fff;
	min-height: 56px;
	line-height: 56px;
	padding-left: 28px;
	padding-right: 28px;
	color: #fff;
}
.button_slideshow:hover, .button_slideshow:focus {
	background: #fff;
	border-color: #fff;
}
.button_chevron::after {
	content: "\e900";
	font-family: icomoon;
	margin-left: 15px;
	font-weight: 400;
	font-size: 8px;
}




.header-top-phone {
	flex: 0 0 auto;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	font-family: "Proxima Nova", sans-serif;
	font-size: 14px;
	color: var(--light-grey);
	position: relative;
}
.header-top-phone-phone {
	font-weight: bold;

}
.header-top-menu-toggle {
	display: none;
	flex: 0 0 auto;
}

.header-top-phone-sign {
	margin-right: 20px;
	font-size: 30px;
	color: var(--text);
}
.header-top-phone-sign:hover, .header-top-phone-sign:focus {
	color: var(--orange2);

}

.header-top-phone-dropdown {
	background: var(--orange2);
	font-size: 12px;
	line-height: 20px;
	font-family: "Proxima Nova";
	padding: 40px 30px;
	margin-top: 29px;
}
.header-top-phone-dropdown::before {
	right: 149px;
	left: auto;
}
.header-top-phone-dropdown .uk-grid > * {
	padding-left: calc(var(--gutter) * 2);
}

.header-top-search .icon-search {
	font-size: 28px;
	color: var(--light-grey);
	margin: 0 20px;
	line-height: 34px;
}
.header-top-search .icon-search:hover {
	color: var(--text);
	text-decoration: none;

}

/* TITLE*/

/*SLIDESHOW*/
.block_slideshow-solutions {
	/*margin-top: -128px;*/
	position: relative;
}
.panel_slideshow {
	padding: 38px var(--column);
	padding-bottom: calc(var(--column) + 92px);
}
.slideshow_solutions {
	position: relative;
	color: #fff;
}
.slideshow_solutions-bg {
	height: 520px;
}
.slideshow_solutions-bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slideshow_solutions-content {
	margin-top: -140px;
	position: relative;
}
.slideshow_solutions .slideshow-nav a {
	color: #fff;
}

.slideshow_solutions-item {
	
}
.slideshow_solutions-item-subtitle {
	/*flex:0 0 100%;*/
	font-size: 15px;
	line-height: 18px;
	font-family: "Proxima Nova", sans-serif;
	margin-bottom: 13px;
	margin-left: calc(var(--column) + 28px);
}
.slideshow_solutions-item-content {
	display: flex;
	align-items: center;

}
.slideshow_solutions-item-title {
	flex: 0 0 calc(var(--column)*4);
	margin-right: 38px;

	font-family: "RussoOne", sans-serif;
	font-size: 50px;
	line-height: 50px;
}
.slideshow_solutions-item-text {
	flex: 1 1 auto;
	font-size: 18px;
	margin-right: 30px;
}

.slideshow_solutions-item-button {
	flex: 0 0 auto;
}




/* NAV */
.slideshow_solutions .slideshow-nav {
	position: absolute;
	left: calc((100vw - 1304px) / 2 + var(--column));
	top: 412px;
	font-family: RussoOne;
}
.slideshow-nav {
	display: flex;
	align-items: center;
	margin: 0 -10px;
}
.slideshow-nav a {
	padding: 0 10px;
}
.slideshow-nav a:hover, .slideshow-nav a:focus {
	text-decoration: none;
}
.slideshow-nav ul.current {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	position: relative;
	height: var(--line-height);
	width: 22px;
	text-align: center;
	margin: 0;
}

.slideshow-nav ul.current > li {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 0.1s ease;
	text-align: center;
	width: 22px;
}
.slideshow-nav ul.current > li.uk-active {
	opacity: 1;
}
.slideshow-nav .overall {

	width: 22px;
	text-align: center;
	
}

.block-title {
	margin-bottom: 32px;
}



/* 50% MARKET */
.block_50 {
	margin-top: -100px;
	position: relative;
	z-index: 1;
}
.panel_50 {
	display: flex;
	padding: 50px 40px;
}

.panel_50-number {
	color: var(--orange);
	position: relative;
	font-family: RussoOne, sans-serif;
	padding-right: 40px;
	margin-right: 19px;
	opacity: 0.6;
}
.panel_50-number_percent {
	font-size: 50px;
	position: absolute;
	right: 0;
	top: 9px;
}
.panel_50-number_number {
	font-size: 150px;
	line-height: 115px;
	/* font-family: "RussonOne",sans-serif; */
}
.panel_50-number_text {
	font-size: 55px;
	line-height: 39px;
}
.panel_50-content .uk-h3 {
	color: var(--dark-grey);
}
.panel_50-content p {
	font-size: 14px;
	line-height: 21px;
}

.panel_bg {
	position: relative;
}
.panel_bg-img {
	position: absolute;
	left:0;top:0;right:0;bottom:0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.panel-content {
	position: relative;
	z-index: 1;
}


.panel_techinfo {
	padding: 37px 48px;
}

.panel_techinfo-icon {
	position: absolute;
	right: 0;
	top: -3px;
	font-size: 60px;
	color: #fff;
}
.panel_techinfo-title {
	margin-bottom: 50px;
	padding-right: 90px;
}

.panel_techinfo-text a {
	display: block;
	color: var(--light-grey);
	font-family: "Proxima Nova", sans-serif;
	line-height: 20px;
	font-size: 15px;
}

/* CATALOG SLIDER */
.catalog-item_slider {
	position: relative;
	overflow: hidden;
	height: 256px;
	/* padding: 60px 40px; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: white;
	display: flex;
	align-items: center;
}
.catalog-item_slider .uk-position-cover {
}
.catalog-item_slider-bg {
	position: absolute;
	left:0;top:0;right:0;bottom:0;
	z-index: 0;
}
.catalog-item_slider-bg:after,
.catalog-item_slider-bg:before{
	content:'';
	display: block;
	left:0;top:0;right:0;bottom:0;
	background: var(--orange-gradient);
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.catalog-item_slider-bg:before {
	background: var(--dark-grey);
	opacity: 0.85;

}
.catalog-item_slider-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.catalog-item_slider-content {
	position: relative;
	padding: 0 38px;
}
.catalog-item_slider-content * {
	transition: all 0.2s ease;
	
}
.catalog-item_slider-title {
	transform: translateY(100px);
	margin-bottom: 28px;
}
.catalog-item_slider-description {
	transform: translateY(100px);
	opacity: 0;

	font-size: 14px;
	line-height: 21px;
	text-overflow: ellipsis;
	max-height: 48px;
	margin-bottom: 28px;
}
.catalog-item_slider-button {
	transform: translateY(100px);
	opacity: 0;
	position: relative;
	z-index: 1;
}
.catalog-item_slider:hover .catalog-item_slider-title {
	transform: translateY(0);
}
.catalog-item_slider:hover .catalog-item_slider-description {
	transform: translateY(0);
	opacity: 1;
}
.catalog-item_slider:hover .catalog-item_slider-button {
	transform: translateY(0);
	opacity: 1;
}
.catalog-item_slider:hover .catalog-item_slider-bg:after {
	opacity: 1;
}
.catalog-item_slider:hover .uk-button:hover {
	/*background: #000;*/
}
.catalog-item_slider-button .uk-button {
	color: #fff;
}
.catalog-item_slider-button:hover .uk-button {
	color: var(--black);
}

.slideset {
	position: relative;
}

.slideset-nav {
	display: flex;
	align-items: center;
	margin: 0 -10px;
	font-family: RussoOne;

	position: absolute;
	right: 0;
	top: -60px;
}
.slideset-nav > a {
	color: var(--text);
	padding: 0 10px;
}
.slideset-nav a:hover {
	color: var(--black);
	text-decoration: none;
}
.slideset-nav .uk-slideset-nav {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 20px;
	margin: 0;

}
.slideset-nav .uk-slideset-nav li {
	margin: 0;
	padding: 0;
}
.slideset-nav .uk-slideset-nav > li > a {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	text-indent: 0;
	color: var(--text);
	background: none;
	border-radius: 0;
	line-height: 20px;
	text-align: center;
}
.slideset-nav .uk-slideset-nav > li.uk-active > a {
	display: block;
}
.slideset-nav-overall {
	width: 22px;
	text-align: center;
}



/* ADVANTAGES */
.panel_advantage-top {
	background: var(--black);
}
.panel_advantage-top-bg {
	position: absolute;
	left:0;top:0;right:0;bottom:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.15;
}

.panel_advantage-top-content {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 68px var(--column) 260px var(--column);
}

.panel_advantage-number {
	flex: 0 0 auto;
	font-family: RussoOne;
	font-size: 120px;
	line-height: 137px;
	color: var(--orange);
	margin-right: 38px;
}
.panel_advantage-title {
	flex: 1 1 auto;
	font-family: RussoOne;
	font-size: 46px;
	line-height: 53px;
	color: #fff;
}

.panel_advantage {
	display: flex;
	margin-top: -200px;
	z-index: 1;
	position: relative;
}
.panel_advantage-content {
	padding: 80px 40px 80px 0;
}
.advantage-list {
	list-style-type: none;
	padding: 0;
	margin-bottom: -32px;
}
.advantage-item {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 32px;
}

.advantage-item-icon {
	margin-right: 26px;
	width: 72px;
	flex: 0 0 72px;
}
.advantage-item-text {
	font-size: 16px;
	line-height: 22px;
	color: var(--black);
}

.panel_advantage-image {
	flex: 0 0 auto;
}
.panel_advantage-content {
	flex: 1 1 auto;
}

/*NEWS TEASERS*/

.news-item_teaser {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 326px;
	background: #fff;
	padding: 22px;
}
.news-item_teaser .news-date {
	flex: 0 0 auto;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	color: var(--light-grey);
	margin-bottom: 38px;
}
.news-item_teaser .news-title {
	flex: 1 1 auto;
	font-size: 16px;
	font-weight: 700;
}
.news-item_teaser .news-title a{
	color: var(--black);
}
.news-item_teaser .news-image {
	flex: 0 0 auto;
	position: relative;
	margin: 0 -22px -22px -22px;
}
.news-item_teaser .news-image:before {
	content: "";
	display: block;
	position: absolute;
	left:0;top:0;right:0;bottom:0;
	background: var(--text);
	opacity: 0.5;
}

.news-item_teaser .news-image img {
	height: 112px;
	width: 100%;
	object-fit: cover;
}
.news-item_teaser a.uk-position-cover {
	opacity: 0;
	background: rgb(242,101,34,0.8);
	text-decoration: none;
	transition: opacity 0.2s ease;
}
.news-item_teaser a.uk-position-cover:before {
	content:'\e905';
	font-family: icomoon;
	display: block;
	width: 48px;
	height: 48px;
	background: #fff;
	border-radius: 24px;
	text-decoration: none;
	color: var(--orange);
	text-align: center;
	line-height: 48px;
	left:calc(50% - 24px);
	top:calc(50% - 24px);
	position: absolute;
}


.news-item_teaser:hover a.uk-position-cover {
	opacity: 1;
}

/*  ARTICLE PAGE */

.panel_introtext {
	margin-top: -140px;
	position: relative;	
	padding: 60px 60px 80px 60px;
}

.vertical-line {
	height: 140px;
	margin:0 auto;
	width: 2px;
	background: var(--orange);
	margin-top: -70px;
	position: relative;
}

.vertical-line_short {
	height: 70px;
	margin: 40px auto;
}

.panel_company-50 {
		color: var(--orange);
		font-family: RussoOne, sans-serif;
		font-size: 150px;
		line-height: 172px;
		opacity: 0.6;
}

.panel_production {
	padding: 40px var(--column);
}

.company-number-item{ 
	position: relative;

}
.company-number-item:before {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background: var(--orange);
	margin-bottom: 8px;
}
.company-number-item-number {
	font-size: 40px;
	line-height: 45px;
	font-family: RussoOne;
	color: var(--black);
}

.company-history-content {
	position: relative;
	padding: 40px 40px 80px 40px;
	margin-top: -140px;
}
.company-history-item {
	position: relative;
}
.company-history-item-year {
	font-size: 40px;
	line-height: 45px;
	font-family: RussoOne;
	margin-bottom: 30px;
	color: var(--orange);
	background: white;
	/*position: relative;*/
}
.company-history-item-year span {
	background: white;
	padding-right: 20px;
	position: relative;
	z-index: 1;
}
.company-history-item-year:before {
	content:'';
	display: block;
	position: absolute;
	left: 0;
	right: 20px;
	height: 2px;
	top: 20px;
	background:var(--orange);
}
.company-history-item-text {
	font-size: 14px;
	line-height: 21px;
}

/* GEOGRAPHY */

.panel_geography {
	position: relative;
}

.geography-bg {
	background: url(../images/russia.svg) no-repeat;
	width: 768px;
	height: 400px;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-bottom: -50px;
	background-size: contain;
	position: absolute;
}
.uk-text-large{
	font-size: 22px;
	line-height: 30px;
	color: var(--black);
}
.geography-content {
	position: relative;
	z-index: 1;
}

/*  */


.panel_certificate {
	padding: 100px 60px 60px 60px;
}
.certificate-item {
	position: relative;
	padding: 92px 36px;
	background: #fff;
}
.certificate-item::before {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background: var(--orange);
	margin-bottom: 8px;
}
.certificate-item-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 90px;
}
.certificate-item-desc {
	font-family: "Proxima Nova";
	font-size: 15px;

}


.certificate-list {
	
	flex-wrap: nowrap;
	margin-right: -25px;
}

.certificate-list > div {
	width: 310px;
}

.certificate-item:hover a.uk-position-cover {
	opacity: 1;
}
.certificate-item a.uk-position-cover {
	opacity: 0;
	background: rgb(242,101,34,0.8);
	text-decoration: none;
	transition: opacity 0.2s ease;
}
.certificate-item a.uk-position-cover::before {
	content: '\e905';
	font-family: icomoon;
	display: block;
	width: 48px;
	height: 48px;
	background: #fff;
	border-radius: 24px;
	text-decoration: none;
	color: var(--orange);
	text-align: center;
	line-height: 48px;
	left: calc(50% - 24px);
	top: calc(50% - 24px);
	position: absolute;
}
.certificate-item-overlay {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	padding: 40px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.certificate-item-overlay img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.certificate-item:hover .certificate-item-overlay {
	opacity: 1;
}

.block_certificate {
	margin-top: -40px;
}

.block_certificate-img {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	box-shadow: 0 3px 16px rgba(0,0,0,0.1);
	margin-bottom: -60px;
}


.list_dashed {
	list-style-type: none;
	padding: 0; 
}
.list_dashed > li {
	position: relative;
	padding-left: 50px;
	margin-bottom: 30px;
}
.list_dashed > li:before {
	content:'';
	display: block;
	position: absolute;
	left: 0;
	top:16px;
	width: 30px;
	height: 2px;
	background-color: var(--orange);
}






/*  FOOTER  */
.uk-h4	{
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
.block-footer {
	background: var(--black);
	padding: 70px 0;
}
.block-footer .uk-h4 {
	margin-bottom: 18px;
}
.footer-info {
	margin-right: 40px;
}
.footer-info-item {
	margin-bottom: 20px;
}
.footer-info-text {
	font-size: 14px;
	line-height: 21px;
	color: var(--text);
}
.footer-info-phone {
	font-family: RussoOne;
	font-size: 22px;
	line-height: 25px;
}
.footer-info-phone a {
	color: var(--orange);
}
.footer-info-phone a:hover,
.footer-info-phone a:focus {
	opacity: 0.7;
	color: var(--orange);
}
.footer-menu .uk-nav {
	padding: 0;
	margin-bottom: 30px;
}
.footer-menu > div {
	/*margin-right: 30px;*/
	page-break-inside: avoid;
	break-insid: avoid;
}
.footer-menu .uk-nav li a {
	padding: 0;
	color: var(--light-grey);
	font-size: 14px;
	margin-bottom: 13px;
	
}
.footer-menu .uk-nav li a:hover {
	opacity: 0.7;
}
.footer-menu .uk-nav li a.uk-h4 {
	font-size: 11px;
	color: #fff;
	margin-top: 20px;
}
.footer-copyright {
	font-size: 14px;
}

/* NAVBAR TOGGLE  */
/* navbar */
.header-navbar-toggle {
	width: 32px;
	height: 32px;
	/*background: #fff;*/
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}

.z-navbar-toggle {
	top: 0;
	/*left: 30px;*/
	/*color:#999;*/
	/*z-index:2000;*/
	font-weight: 400;
	font-size:16px;
	letter-spacing: 1px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 24px;
	height: 32px;
}
.z-navbar-toggle:hover {
	text-decoration: none;
}
/* OFFCANVAS TOGGLE BUTTON */

.z-navbar-toggle span {
  display: inline-block;
  position: relative;;
  left: 0;
  height: 2px;
  background: var(--orange);

  width: 100%;
  vertical-align: middle;
  margin-top: -4px;
}

.z-navbar-toggle span:before,
.z-navbar-toggle span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  content: "";
}

.z-navbar-toggle span:before {
  top: -8px;
}

.z-navbar-toggle span:after {
  bottom: -8px;
}

/* OFFCANVAS TOGGLE BUTTON ANIMATION */

.z-navbar-toggle span {
  transition: width 0.1s 0.3s, background 0.1s 0.3s;
}
.z-navbar-toggle span:before,
.z-navbar-toggle span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.z-navbar-toggle span:before {
  transition-property: top, transform;
}

.z-navbar-toggle span:after {
  transition-property: bottom, transform;
}
/* active state, i.e. menu open */

.uk-offcanvas-page .z-navbar-toggle span {
  background: none;
  width: 20px;
  /*transition: none;*/
  /*transition: width 0.1s 0.3s, background 0.1s 0.3s;*/

}
.uk-offcanvas-page .z-navbar-toggle span:before {
  top: 0;
  transform: rotate(45deg);
}
.uk-offcanvas-page .z-navbar-toggle span:after {
  bottom: 0;
  transform: rotate(-45deg);
}
.uk-offcanvas-page .z-navbar-toggle span:before,
.uk-offcanvas-page .z-navbar-toggle span:after {
  transition-delay: 0s, 0.3s;
  /*width: 100%;*/
}

.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover {
	color: var(--yellow);
}
html:not(.uk-touch) .uk-nav-offcanvas ul a:hover {
	color: var(--yellow);
}

.uk-nav-offcanvas ul a {
	color: #ccc;
	font-size: 18px;
}
.uk-nav.uk-nav-offcanvas {
	margin-top: 12px;
}

/* SEARCH */
#modal-search {

}
.modal_search {
	padding: 52px 0;
	background: var(--dark-grey);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 80px;
}
.modal-search-box input[type="text"] {
	font-size: 50px;
	line-height: 56px;
	border: none;
	background: none;
	border-radius: 0;
	min-width: 600px;
	font-weight: 300;
	font-family: RussoOne;
}
.modal-search-box input[type="submit"] {
	background: none;
	border: none;
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	width: 50px;
	cursor: pointer;
	z-index: 1;
}
.modal-search-box {
	position: relative;
	border-bottom: 2px solid var(--orange);
}

.modal-search-box-close::after { /* reset */
	content: '\e905';
	font-family: icomoon;
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 17px;
	color: var(--muted-color);
}
/* .modal-search-box::after {
	content: '\e906';
	font-family: icomoon;
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 17px;
	color: var(--muted-color);
} */

#form-modal-search {
	position: relative;
	
}
.form-modal-search-reset {
	background: none;
	border: none;
	width: 30px;
	height: 30px;
	font-size: 23px;
	transform: rotate(45deg);
	color: var(--orange);
}

.form-modal-search-reset.empty {
	display: none;
}
.form-modal-search-submit {
	visibility: hidden;
}


/*  RESPONSIVE */
@media (max-width: 1304px) {
	.slideshow_solutions .slideshow-nav {
		left: var(--column);
	}
}

@media (max-width: 1219px) {
	.header-top-nav {
		display: none;
	}
	.header-top-menu-toggle {
		display: block;
	}
	.header-top-logo {
		flex:1 0 auto;
	}
}

@media (max-width: 959px) {
	.panel_slideshow {
		padding: 38px 28px 58px 28px;
	}
	.slideshow_solutions-bg {
		height: 320px;
	}
	.slideshow_solutions-content {
		margin-top: 0;
	}
	.slideshow_solutions .slideshow-nav {
		left: 30px;
		top: 351px;
	}
	.slideshow_solutions-item-content {
		flex-direction: column;
		text-align: center;
	}
	.slideshow_solutions-item-title {
		flex: 0 0 auto;
		margin-bottom: 15px;
		margin-right: 0;
		font-size: 36px;
		text-align: left;
	}
	.slideshow_solutions-item-text {
		margin-bottom: 15px;
		text-align: left;
	}
	.block_50 {
		margin-top: -30px;
	}
	.panel_50 {
		flex-direction: column;
	}
	.panel_50-number {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.panel_50-number_percent {
		right: auto;
	}
	.panel_techinfo-title {
		padding-top: 100px;
	}
	.panel_advantage-content {
		padding: 80px 40px;
	}

	.catalog-item_slider-title {
		transform: translateY(0);
	}
	.catalog-item_slider-description {
		transform: translateY(0);
		opacity: 1;
		
	}
	.catalog-item_slider-button {
		transform: translateY(0);
		opacity: 1;
		
	}
	.header-top-phone-dropdown .uk-grid > * {
		padding-left: 0;
	}

	.modal-search-box input[type="text"] {
		min-width: none;
		width: 70vw;
	}

	.company-numbers .company-number-item {
		text-align: center;
	}

	.company-history-item {
		display: flex;
		padding-bottom: 50px;
		margin-bottom: 20px !important;
	}
	.company-history-item-year::before {
		content: '';
		display: block;
		position: absolute;
		left: 50px;
		right: auto;
		bottom: 0;
		top: 57px;
		background: var(--orange);
		width: 2px;
		height: auto;
	}
	.company-history-content .uk-grid > div:last-of-type .company-history-item {
		padding-bottom: 0;
		margin-bottom: 0 !important;
	}
	.company-history-content .uk-grid > div:last-of-type .company-history-item-year::before {
		display: none;
	}

	.certificate-list {
		overflow-x: scroll;
	}
 .block_title-padding {
 	padding-bottom: 0;
 }
	.block-fullwidth-heading {
		font-size: 40px;
		line-height: 45px;
	}
}


@media (max-width: 767px) {
	.slideset_catalog-grid > li {
		width: 100%;
	}
	.panel_advantage-top-content {
		align-items: flex-start;
		padding: 68px 40px 260px 40px;
		flex-direction: column;
	}
	.slideshow_solutions-bg {
		height: 200px;
	}
	.slideshow_solutions .slideshow-nav {
		left: 30px;
		top: 232px;
	}
	.slideshow_solutions-item-button {
		width: 100%;
	}
	.slideshow_solutions-item-button .uk-button {
		width: 100%;
	}
	.header-top-phone-phone {
		display: none;
	}
	.header-top-search {
		display: none;
	}
	.header-top-phone-sign {
		/*margin-right: 0;*/
	}
	.header-top-phone-dropdown::before {
		right: 30px;
		left: auto;
	}
	.panel_advantage-content {
		padding: 30px 20px;
	}
	.panel_50 {
		padding: 50px 20px;
	}
	.panel_50-number_number {
		font-size: 98px;
	}
	.panel_50-number_text {
		font-size: 44px;
	}
	.panel_50-number_percent {
		font-size: 41px;
		top: 15px;
		right: auto;
		line-height: 46px;
	}
	.panel_advantage-number {
		font-size: 100px;
		line-height: 100px;
	}
	.panel_advantage-title {
		font-size: 32px;
		line-height: 38px;
	}

	.modal-search-box input[type="text"] {
		min-width: none;
		width: 70vw;
	}

	.block_title {
		height: 220px;
	}
	.panel_introtext {
		margin: 0 -25px; ;
	}
	.vertical-live {
		margin-top: -40px;
		height: 80px;
	}
	.panel_company-50 {
		font-size: 100px;
		line-height: 114px;
	}
	.company-number-item::before {
		margin: 0px auto 8px auto;
	}
	.company-history-content {
		margin-top: -40px;
	}
	.button_small-width-1 {
		width: 100%;
	}

	.panel_certificate {
		padding: 100px 20px 40px 20px;
	}
	
}