body{
	background-color: #F5F5F5;
}
.uk-close::after{
	content: "\e905";
	font-family: icomoon;
	transform: rotate(45deg);
}
.fullwidth-bg-cover::before{
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.6);
	z-index: 1;
}
.padding-l-r-20{
	padding-left: 20px;
	padding-right: 20px;
}
.button_chevron__warning::after{
	color: #F26522;
}
.button_chevron__mob{
	position: relative;
}
.button_chevron__mob::after{
	position: absolute;
	right: 10px;
}
.laboratoriya .block-fullwidth-content{
	height: 216px;
}
.h1-titke{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	line-height: 55px;
	margin-top: 30px;
	margin-bottom: 23px;
}
.h1-title__contacts{
	margin-top: 50px;
	margin-bottom: 40px;
}
.h1-title__news{
	 margin-top: 50px;
	 margin-bottom: 40px;
}
.header-list{
	list-style: none;
	padding-left: 0;
	margin-bottom: 40px;
}
.header-item{
	width: 167px;
	margin: auto;
	margin-bottom: 24px;
}
.header-item a{
	display: flex;
	align-items: center;
}
.header-item .header-item-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 25%;
	min-width: 40px;
	max-width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 4px;
	margin-right: 10px;
	transition: 200ms linear background-color;
}
.header-item:hover .header-item-icon{
	background-color: #fff;
}
.header-item:hover svg text,
.header-item:hover svg path{
	fill: #F26522;
}
.header-item .header-item-text{
	flex-basis: 75%;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	line-height: 15px;
	text-transform: uppercase;
}
.vertical-line__header{
	height: 80px;
	margin-top: -30px;
}
.vertical-line__katalog-top{
	height: 88px;
	bottom: 46px;
	z-index: 2;
}
.vertical-line__katalog-bottom{
	height: 70px;
	top: -65px;
}
.block-header-preview{
	max-width: 965px;
}
.panel_introtext{
	padding: 40px 20px 60px 20px;
}
.uk-row{
	padding-left: 20px;
	padding-right: 20px;
}
.uk-block-product{
	flex-wrap: wrap;
}
.uk-block-product > div:last-child{
	flex-grow: 1;
}
.uk-block-product .uk-grid-margin{
	margin-top: 15px;
}
.uk-card-product{
	position: relative;
	width: 100%;
	min-height: 266px;
	margin: 8px 0;
	padding-top: 38px;
	background-color: #fff;
}
.uk-card-product img{
	max-height: 211px;
}
.uk-card-product p{
	font-size: 18px;
	color: #3C3C3D;
	margin: 0 40px;
	line-height: 28px;
}
.uk-card-product a.uk-position-cover{
	opacity: 0;
	background: #f26522cc;
	text-decoration: none;
	transition: opacity 0.2s ease;
}
.uk-card-product a.uk-position-cover::before{
	content: '\e905';
	font-family: icomoon;
	display: block;
	width: 48px;
	height: 48px;
	background: #fff;
	border-radius: 24px;
	text-decoration: none;
	color: var(--orange);
	text-align: center;
	line-height: 48px;
	left: calc(50% - 24px);
	top: calc(50% - 24px);
	position: absolute;
}
.uk-card-product:hover a.uk-position-cover {
	opacity: 1;
}
.card-site-content{
	flex-wrap: wrap;
}
.card-site-item{
	position: relative;
	width: 100%;
	padding-top: 40px;
	margin-bottom: 25px;
	background-color: #fff;
}
.card-site-line{
	width: 60px;
	height: 2px;
	margin-left: 30px;
	margin-bottom: 26px;
	background-color: #F26522;
}
.card-site-title{
	margin-left: 30px;
	margin-bottom: 35px;
}
.card-site-title a{
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	color: #3C3C3D;
}
.card-site-item__resheniya .card-site-title{
	height: 63px;
	margin-bottom: 0;
}
.card-site-image img{
	width: 100%;
}
.card-site-title__in-tag{
	margin-bottom: 20px;
}
.card-site-item .uk-position-cover{
	opacity: 0;
	background: #f26522cc;
	text-decoration: none;
	transition: opacity 0.2s ease;
}
.card-site-item a.uk-position-cover::before {
	content: '\e905';
	font-family: icomoon;
	display: block;
	width: 48px;
	height: 48px;
	background: #fff;
	border-radius: 24px;
	text-decoration: none;
	color: var(--orange);
	text-align: center;
	line-height: 48px;
	left: calc(50% - 24px);
	top: calc(50% - 24px);
	position: absolute;
}
.card-site-item:hover .uk-position-cover{
	opacity: 1;
}
.card-site-tag{
	font-size: 14px;
	margin-top: 10px;
}
.panel__katalog{
	padding: 65px 5px 15px 20px;
}
.header-list__katalog{
	margin-bottom: 70px;
}
.katalog-container{
	margin-top: 70px;
}
.katalog-block{
	margin-bottom: 35px;
}
.uk-katalog-title{
	font-size: 19px;
	color: #58595B;
}
.panel_company-50 + .uk-katalog-title{
	width: 240px;
}
.panel_company-50 ~ .uk-katalog-txt{
	font-size: 15px;
}
.uk-katalog-txt{
	font-size: 14px;
	line-height: 22px;
	margin-top: 5px;
}
.button-product{
	width: 336px;
	height: 62px;
}
.resheniya-top-txt{
	font-size: 18px;
	color: #3C3C3D;
	margin-bottom: 0;
}
.resheniya-botton-title{
	font-size: 20px;
	color: #58595B;
}
.resheniya-botton-content{
	font-size: 15px;
}
.contacts-up{
	position: relative;
	top: -80px;
}
.contacts-panel{
	height: 278px;
	margin: 0 -25px ;
}
.contacts-block-content{
	background-color: #fff;
}
.contacts-block-layout-1 .contacts-block-content{
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	margin-bottom: 10px;
}
.contacts-block-layout-1 .contacts-block-content a{
	color: #F26522;
}
.contacts-block-layout-1 .part-1{
	padding: 25px	21px 0 21px;
}
.part-1-title{
	font-size: 20px;
	color: #58595B;
	line-height: 1;
}
.part-1-time{
	margin-top: 5px;
	line-height: 21px;
}
.part-1-time span{
	display: block;
}
.part-1-content{
	display: flex;
	flex-wrap: wrap;
}
.part-1-content-tel{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	margin-bottom: 25px;
}
.part-1-content-tel p{
	margin: 0;
	font-weight: bold;
}
.part-1-content-tel p:first-child{
	width: 100%;
	font-weight: normal;
}
.part-1-content-addres{
	margin-bottom: 30px;
}
.contacts-block-layout-1 .part-2{
	width: 100%;
}
.part-2 img{
	width: 100%;
	height: 218px;
	object-fit: cover;
}
.contacts-block-layout-2 .contacts-block-content{
	font-size: 14px;
	padding: 51px 0 30px 21px;
}
.card-site-line__contacts{
	margin-left: 0;
}
.contacts-block-layout-2 .part-1{
	background-position: 86% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/support-background.png");
}
.uk-tab__contacts{
	padding-top: 30px;
}
.uk-tab__contacts li.uk-active > a{
	position: relative;
	background-color: transparent;
}
.uk-tab__contacts li.uk-active > a::before{
	content: '';
	position: absolute;
	width: 200px;
	height: 4px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
}
.uk-tab__contacts::before{
	display: none;
}
.uk-tab__contacts li{
	margin-bottom: 10px;
}
.uk-tab__contacts li:last-child{
	margin-bottom: 0;
}
.uk-tab__contacts > li > a{
	color: #fff;
	border: 0;
}
.uk-tab__contacts > li.uk-open > a,
.uk-tab__contacts > li > a:focus,
.uk-tab__contacts > li > a:hover{
	color: #3C3C3D;
	background-color: transparent;
}
.uk-tab__obsadnyye:before{
	border-width: 4px;
}
.uk-tab__obsadnyye > li > a{
	font-size: 16px;
	color: #707070;
	line-height: 1;
	border-width: 4px;
	padding: 5px 10px 20px;
}
.uk-tab__obsadnyye li.uk-active > a{
	position: relative;
	color: #3C3C3D;
	border-color: transparent;
	border-bottom-color: #F26522;
	background-color: transparent;
}
.uk-tab__obsadnyye > li.uk-open > a,
.uk-tab__obsadnyye > li > a:focus,
.uk-tab__obsadnyye > li > a:hover{
	color: #3C3C3D;
	background-color: transparent;
}
.uk-tab__obsadnyye > li:not(.uk-active) > a:hover{
	border-color: transparent;
}
.uk-tab__obsadnyye{
	margin-left: -25px;
	margin-right: -25px;
}
.uk-margin-minus{
	margin-left: -25px;
	margin-right: -25px;
}
.obsadnyye-block{
	position: relative;
	height: 253px;
	background-color: #fff;
	overflow: hidden;
}
.obsadnyye-add{
	position: absolute;
	width: 62px;
	height: 62px;
	margin: auto;
}
.button-obsadnyye{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 62px;
	height: 62px;
	color: var(--orange);
	padding: 0;
	border-radius: 50%;
	background-color: #fff;
}
.button-obsadnyye:hover,
.button-obsadnyye:focus{
	color: var(--orange);
	background-color: #fff;
}
.button-obsadnyye::before{
	font-size: 35px;
}
.obsadnyye-add-close{
	position: absolute;
	right: 5px;
	border: 0;
	font-size: 25px;
	background-color: transparent;
	cursor: pointer;
}
.obsadnyye-add-close::before{
	display: block;
	transform: rotate(45deg);
}
.obsadnyye-add-content{
	display: flex;
	position: absolute;
	top: 0;
	left: 80px;
	width: 580px;
	height: 210px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 30px rgba(0,0,0, 0.2);
}
.obsadnyye-add-content img{
	flex-basis: 50%;
	margin-right: 35px;
}
.obsadnyye-info-mob{
	font-size: 15px;
	line-height: 21px;
	margin-left: -25px;
	margin-right: -25px;
	padding: 35px 20px 35px 40px;
	background-color: #fff;
}
.obsadnyye-title{
	margin-bottom: 12px;
}
.design-content-1{
	font-size: 14px;
	min-height: 133px;
	padding: 35px 10px 8px 37px;
	background-color: #fff;
}
.design-block-1 .uk-grid-margin{
	 margin-top: 10px;
 }
.design-block-1 div:last-child{
	flex-grow: 1;
}
.news-up{
	position: relative;
	top: -90px;
}
.panel__news-year{
	height: 227px;
	padding-left: 20px;
}
.news-year-block{
	display: flex;
	font-size: 22px;
	list-style: none;
	padding-left: 0;
	padding-top: 75px;
	overflow-x: auto;
	overflow-y: hidden;
}
.news-year-block li{
	margin-right: 35px;
}
.news-year-block li:first-child{
	color: #000;
}
.news-year-block > li > a{
	color: #fff;
}
.news-year-block > li.uk-open > a,
.news-year-block > li > a:focus,
.news-year-block > li > a:hover{
	background-color: transparent;
	border-color: transparent;
}
.news-year-block > li.uk-active > a{
	border-color: transparent;
	border-bottom: 4px solid #3C3C3D;
	background-color: transparent;
}
.uk-modal-header__news{
	position: relative;
	height: 263px;
	padding: 0 20px;
	margin: -20px -20px 75px -20px;
	background-image: url("../images/bg-news-post.jpg");
}
.uk-modal-header__news .uk-h3{
	position: relative;
	font-size: 30px;
	color: #fff;
	line-height: 1.5;
	padding-top: 60px;
	padding-bottom: 20px;
}
.uk-modal-header__news::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(242, 101, 34, 0.8);
}
.modal-content-news{
	padding: 0 5px;
}
.uk-article-lead__news{
	font-size: 20px;
	line-height: 28px;
	color: #3C3C3D;
	margin-bottom: 50px;
}
.uk-article-txt{
	color: #545454;
	line-height: 22px;
}
.uk-button__my{
	display: block;
	width: 336px;
	text-transform: uppercase;
	padding: 12px 0;
	margin: 45px auto 0 auto;
}
.uk-button__katalog{
	width: 327px;
}
.uk-modal__news .uk-close{
	position: relative;
	top: 5px;
	right: 10px;
	font-size: 30px;
	color: #fff;
	opacity: 0.9;
	z-index: 1;
}
.menu-mob-container{
	height: 100%;
	padding: 20px;
	padding-top: 0;
	background-color: #3C3C3D;
}
.menu-modal-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	font-weight: bold;
	color: var(--orange);
}
.mob-search-button{
	width: 44px;
	font-size: 28px;
	color: var(--orange);
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.mob-close-button{
	font-size: 28px;
	width: 28px;
	height: 100%;
	opacity: 1;
}
div.menu-modal-menu a{
	font-size: 12px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
	text-transform: uppercase;
	padding: 20px 0 20px 20px;
	border-top: 1px solid #58595B;
}
.button_chevron__mob-modal::after{
	height: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: 1;
	color: #FFAA00;
}
.modal-menu-dropdown{
	cursor: pointer;
}
.modal-menu-dropdown ul{
	display: none;
}
.modal-menu-search{
	position: relative;
	border-top: 1px solid #58595B;
	border-bottom: 2px solid var(--orange);
}
.modal-menu-search input[type="text"]{
	width: 85%;
	font-size: 12px;
	font-weight: bold;
	line-height: 28px;
	color: var(--orange);
	padding: 20px 0 20px 20px;
	border: none;
	background: none;
	border-radius: 0;
}
.modal-menu-search input[type="text"]:focus{
	outline: 0;
}
.modal-menu-search button[type="submit"]{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	font-size: 20px;
	color: var(--orange);
	border: 0;
	background: none;
}
.modal-menu-search input[placeholder]          { color: var(--orange); }
.modal-menu-search input::-moz-placeholder     { color: var(--orange); }
.modal-menu-search input:-moz-placeholder      { color: var(--orange); }
.modal-menu-search input:-ms-input-placeholder { color: var(--orange); }
.modal-menu-search input::-webkit-input-placeholder { color: var(--orange); }

.modal-menu-dropdown-items{
	display: none;
	position: fixed;
	top: 70px;
	left: 5px;
	right: 5px;
	height: 100%;
	background-color: #3C3C3D;
	z-index: 2;
}
.modal-product-block{
	display: flex;
	flex-wrap: wrap;
}
.modal-product-block .modal-product-content{
	max-width: 575px;
	text-align: center;
	padding: 0 10px;
}
.modal-product-block img{
	margin: auto;
}
.modal-product-block__design1{
	align-items: center;
	background-color: #fff;
}
.modal-product-block__design1 .modal-product-title{
	color: var(--orange);
	margin-bottom: 25px;
}
.modal-product-block__design1 .modal-product-txt{
	font-size: 17px;
	line-height: 28px;
}
.modal-product-block__design2{
	background-color: #F5F5F5;
}
.modal-product-block__design2 .modal-product-content{
	padding-top: 40px;
}
.modal-product-block__design2 .modal-product-title{
	font-size: 16px;
	font-weight: bold;
	color: #3C3C3D;
	line-height: 22px;
}
.modal-product-block__design2 .modal-product-txt{
	font-size: 14px;
	line-height: 21px;
}
.uk-modal__product .uk-modal-dialog-large{
	width: 965px;
	padding: 0;
}
.uk-modal__product .uk-table{
	position: relative;
}
.uk-modal__product .uk-table th{
	padding: 0;
}
.uk-modal__product .uk-table td{
	height: 89px;
	text-align: center;
	vertical-align:middle;
	padding: 0;
}
.uk-modal__product tr:hover{
	background: #fcc;
}
.uk-modal__product td,
.uk-modal__product td:hover::after{
	min-width: 120px;
}
.uk-modal__product td:hover {
	color: #fff;
	background: var(--orange);
}
.uk-modal__product td:hover::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #fcc;
	z-index: -1;
}
.uk-close_product{
	position: absolute;
	top: 25px;
	right: 30px;
	font-size: 28px;
	color: #3C3C3D;
	opacity: 1;
}
.modal-product-footer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	font-family: "Proxima Nova", sans-serif;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	padding: 30px 0;
	background-color: #F5F5F5;
}
.product-footer-item:first-child{
	width: 199px;
}
.product-footer-item:nth-child(even){
	width: 272px;
}
.product-footer-item:last-child{
	width: 166px;
}
.product-footer-item img{
	margin-bottom: 14px;
}
.product-footer-title{
	height: 68px;
}




/* ▼ ADAPTIVE ▼ */
@media (min-width: 768px){
	.block-fullwidth{
		padding-bottom: 104px;
	}
	.h1-titke{
		font-size: 70px;
		line-height: 70px;
		margin-top: 60px;
		margin-bottom: 58px;
	}
	.h1-title__katalog{
		font-size: 60px;
		padding: 0 70px;
	}
	.h1-title__contacts{
		margin-top: 85px;
		margin-bottom: 60px;
	}
	.h1-title__news{
		margin-top: 85px;
		margin-bottom: 60px;
	}
	.block-header-preview{
		padding-left: 40px;
		padding-right: 40px;
	}
	.header-list__katalog{
		width: 372px;
		margin: auto;
	}
	.header-list__katalog .header-item{
		margin-bottom: 0;
	}
	.header-list__katalog .header-item:last-child{
		width: 138px;
		margin-left: 65px;
	}
	.panel_introtext{
		margin-top: -104px;
		padding: 55px 42px 85px 42px;
	}
	.panel_introtext p{
		font-size: 20px;
	}
	.panel_company-50 + .uk-katalog-title{
		width: 520px;
		font-size: 46px;
		line-height: 56px;
	}
	.panel_company-50 ~ .uk-katalog-txt{
		width: 520px;
		margin: auto;
	}
	.panel__katalog hr{
		margin: 50px -65px 0;
	}
	.vertical-line__katalog-bottom{
		top: -45px;
	}
	.panel__katalog{
		padding: 80px 88px 40px;
	}
	.katalog-container{
		margin-top: 20px;
	}
	.vertical-line__katalog-top{
		bottom: 5px;
	}
	.vertical-line__header{
		height: 128px;
		margin-top: -64px;
	}
	.uk-block-product{
		margin-top: 32px;
	}
	.uk-card-product{
		display: flex;
		flex-wrap: wrap;
	}
	.uk-card-product:nth-child(odd){
		margin-right: 15px;
	}
	.uk-card-product:last-child{
		margin-right: 0;
		flex-grow: 1;
	}
	.obsadnyye-title + .uk-block-product{
		margin-top: 0;
	}
	.card-site-content__kanalizatsiya{
		justify-content: center;
	}
	.card-site-item__kanalizatsiya{
		width: 332px;
	}
	.design-block-1 .uk-grid-margin{
		margin-top: 25px;
	}
	.tekh-resheniya .card-site-content{
		height: auto;
		overflow-y: visible;
		justify-content: center;
	}
	.card-site-item:not(.uk-hidden-medium){
		margin-right: 15px;
	}
	.card-site-item:nth-child(2){
		margin-right: 0;
	}
	.resheniya-562{
		max-width: 562px;
	}
	.resheniya-top-txt{
		font-size: 20px;
	}
	.resheniya-botton-title{
		font-size: 22px;
	}
	.resheniya-botton-content{
		font-size: 17px;
	}
	.contacts-up{
		top: -125px;
	}
	.contacts-panel{
		height: 227px;
	}
	.contacts-block-layout-1 .part-1{
		flex-basis: 63%;
		padding-right: 0;
	}
	.part-1-title{
		font-size: 22px;
	}
	.part-1-time span {
		display: inline;
	}
	.part-1-content-tel{
		flex-basis: 61%;
	}
	.contacts-block-layout-1 .part-2{
		flex-basis: 34%;
	}
	.part-2 img{
		height: 100%;
	}
	.uk-tab__contacts{
		padding-left: 20px;
		padding-right: 20px;
	}
	.uk-tab__contacts li.uk-active > a::before{
		display: none;
	}
	.uk-tab__contacts::before{
		display: block;
		width: 93%;
		left: 0;
		bottom: 0;
		margin: auto;
		border-width: 4px;
		border-color: rgba(255,255,255, 0.5);
	}
	.uk-tab__contacts > li.uk-active > a{
		border-bottom: 4px solid black;
		border-color: black;
	}
	.uk-tab__obsadnyye{
		width: 460px;
		margin-left: auto;
		margin-right: auto;
	}
	.uk-tab__contacts li{
		margin-bottom: 0;
	}
	.uk-tab__obsadnyye > li > a{
		padding: 5px 10px 15px;
	}
	.design-content-1{
		min-height: 80%;
	}
	.uk-modal-header__news{
		padding: 0 60px;
	}
	.uk-modal-header__news .uk-h3{
		font-size: 36px;
		padding-top: 100px;
	}
	.modal-content-news{
		padding: 0 40px 40px;
	}
	.uk-article-lead__news{
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 100px;
	}
	.modal-product-block img{
		flex-basis: 40%;
		min-width: 320px;
		margin: 0;
		object-fit: contain;
	}
	.modal-product-block .modal-product-content{
		flex-basis: 54%;
		text-align: left;
	}
	.modal-product-content .modal-product-txt{
		padding-right: 90px;
	}
	.modal-product-block__design1{
		height: 400px;
	}
	.modal-product-block__design2{
		height: 290px;
	}
	.obsadnyye-block{
		height: 400px;
	}
	.obsadnyye-add{
		top: 15px;
		bottom: 0;
		left: 280px;
		right: 0;
	}
	.obsadnyye-info-mob{
		font-size: 17px;
		line-height: 28px;
		padding: 32px 78px 50px 92px;
	}
	.obsadnyye-title{
		margin-bottom: 20px;
	}
	.card-site .obsadnyye-title{
		margin-top: 15px;
		margin-bottom: 65px;
	}
	.modal-product-footer{
		height: 240px;
		padding: 0;
	}
}/* END min-width: 768px */

@media (min-width: 965px){
	.header-list__kanalizatsiya{
		width: 515px;
		margin: 15px auto 55px auto;
	}
	.header-list__katalog{
		width: 400px;
	}
	.header-list__katalog .header-item:first-child{
		width: 166px;
		margin-left: 0;
	}
	.block-header-preview{
		max-width: 1045px;
	}
	.h1-titke{
		margin-top: 117px;
	}
	.h1-title__contacts{
		margin-top: 65px;
		margin-bottom: 55px;
	}
	.h1-title__news{
		margin-top: 65px;
		margin-bottom: 55px;
	}
	.h1-title__katalog{
		font-size: 70px;
		padding: 0;
	}
	.header-item{
		width: 144px;
		margin-bottom: 0;
	}
	.panel_introtext{
		padding: 68px 95px 85px 95px;
	}
	.panel_introtext p{
		line-height: 32px;
	}
	.panel__katalog{
		padding: 110px 70px 55px;
	}
	.panel__katalog hr{
		margin: 50px 0 0;
	}
	.vertical-line__katalog-top{
		bottom: 60px;
	}
	.katalog-container{
		margin-top: 80px;
	}
	.katalog-container .uk-block-product{
		margin-top: 0;
	}
	.vertical-line__katalog-bottom{
		top: -75px;
	}
	.uk-block-product div:last-child{
		flex-grow: 0;
	}
	.uk-block-product{
		margin-top: 58px;
	}
	.uk-card-product{
		height: 271px;
	}
	.uk-card-product p{
		flex-basis: 40%;
		order: 1;
		margin-left: 25px;
		margin-right: 0;
	}
	.uk-card-product img{
		flex-basis: 50%;
		object-fit: contain;
	}
	.uk-card-product:last-child{
		margin-right: 15px;
		flex-grow: 0;
	}
	.uk-card-product__obsadnyye img{
		max-width: 50%;
		height: 100%;
	}
	.card-site-content{
		justify-content: center;
	}
	.card-site-item:nth-child(2){
		margin-right: 15px;
	}
	.card-site-item__309{
		width: 309px;
	}
	.card-site-item__resheniya .card-site-title{
		height: auto;
		margin-bottom: 35px;
	}
	.design-block-1 .uk-grid-margin{
		margin-top: 20px;
	}
	.resheniya-562{
		max-width: 780px;
	}
	.uk-tab__contacts{
		width: 768px;
		padding-top: 55px;
		margin-left: auto;
		margin-right: auto;
	}
	.contacts-up{
		top: -95px;
	}
	.contacts-block-layout-1 .part-1{
		flex-basis: 63%;
		padding-right: 0;
	}
	.part-1-content-tel{
		flex-basis: 46%;
		margin-right: 70px;
	}
	.part-1-content-addres{
		flex-basis: 25%;
	}
	.contacts-block-layout-1 .part-2{
		flex-basis: 34%;
	}
	.part-2 img{
		height: 280px;
	}
	.obsadnyye-block{
		height: 530px;
	}
	.obsadnyye-block > img{
		position: relative;
		left: -200px;
	}
	.news-up{
		top: -95px;
	}
	.panel__news-year{
		padding-left: 0;
	}
	.news-year-block{
		width: 1167px;
		margin: auto;
		overflow: hidden;
	}
	.news-year-block li{
		margin-right: 56px;
	}
	.uk-modal-header__news .uk-h3{
		padding-top: 115px;
		padding-bottom: 0;
	}
	.obsadnyye-add{
		position: absolute;
		top: 0;
		bottom: 0;
		left: -30%;
		right: 0;
		width: 62px;
		height: 62px;
		margin: auto;
	}
	.obsadnyye-add-content{
		display: flex;
		position: absolute;
		top: 0;
		left: 80px;
		width: 580px;
		height: 210px;
		padding: 20px;
	}
	.obsadnyye-add-content img{
		flex-basis: 50%;
		max-width: 209px;
		margin-right: 35px;
	}
	.obsadnyye-add-content p{
		width: 310px;
		font-size: 14px;
		line-height: 21px;
	}
	.obsadnyye-title{
		margin-bottom: 25px;
	}
	.modal-product-block img{
		max-width: 390px;
		height: 100%;
	}
	.modal-product-block__design1 .modal-product-content{
		flex-basis: 60%;
		padding: 0;
	}
}/* END min-width: 965px */

@media (min-width: 1160px){
	.uk-modal__news .uk-modal-dialog-large{
		width: 965px;
	}

}/* END min-width: 1160px */